@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 60px;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    
}
form{background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    
    margin-top: 30px;
    margin-bottom: 30px;}
nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;

}
nav ul li{
   margin: 20px 60px;
   font-weight: bold;
   cursor: pointer;
   color: antiquewhite;
}
body{
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);}
body img{
    margin: 20px 0 ;
}


h1{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color:      black;
    ;
}

span{
    color:red;
}